[Unit]
Description=InsightIDR Alerts Service
After=network.target

[Service]
User=place_service_account_here
ExecStart=/usr/bin/python3 /opt/r7scripts/gchatalert/IDR_Alerts_to_Google_chat.py
WorkingDirectory=/opt/r7scripts/gchatalert
Restart=always

[Install]
WantedBy=multi-user.target
